/*
 * File to load and render all component style rules.
 * A component is any group of elements that exists in any other context than a WordPress block.
 */

@mixin render {
	// Render all component stylesheets.
}
