/**
 * File to add global admin style rules.
 * These rules will be applied to all admin pages unrestricted by the context of the block editor.
 */

@mixin render {
	// Add global admin style rules here if needed.
}