/**
 * #mosaic-theme-generated: Mosaic Theme manages this file and may overwrite the file unless this comment is removed.
 */

// Use fonts
@use 'fonts';

// Use base elements
@use 'base';

// Use components
@use 'components/all' as components;

// Use blocks
@use '/blocks/all' as blocks;

// Use admin extra
@use 'admin-extra';

.edit-post-visual-editor,
.edit-site-style-book__example-preview,
.block-editor-iframe__body {
	// Render base elements
	@include base.render;

	// Render components
	@include components.render;

	// Render blocks
	@include blocks.render;
}

// Render admin extra
@include admin-extra.render;
